product_similarity.pkl
similarity.pkl
virtflip/
flipkart.csv
15000_products.csv
5000_products.csv
5000_similarity.rar
all_products.csv
.ipynb_checkpoints/
__pycache__/
.vscode/
db.sqlite3
migrations/
management/