<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <title>{% block title %}{% endblock title %}</title>
    {% block style %}{% endblock style %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg> TROLLY </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
      </ul>
      <form class="d-flex" action="/recommendations" method = "GET">
      {% csrf_token %}
        <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search" id="search">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script>
  $( function() {
    var availableTags = 
    $( "#search" ).autocomplete({
      source: "{%url 'Recommendations' %}"
    });
  } );
  </script>


  {% if user.is_authenticated %}
<a href="/logout" role="button" class="btn btn-success mx-1" >Logout</a>
          <a class="nav-link" href="/"  role="button">
            WELCOME  <b>{{user.username}}</b> 
          </a>
{% else %}
<button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#login">
  LogIn
</button>
<button type="button" class="btn btn-success mx-1" data-bs-toggle="modal" data-bs-target="#signup">
  SignUp    
</button>
{% endif %}

      {% comment %} <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#signup">Sign-Up</button>
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#login">Log-In</button> {% endcomment %}
    </div>
  </div>
</nav>



<!-- Modal for signup -->
<div class="modal fade" id="signup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Signup Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form method="post" action="/signup">
              {% csrf_token %}
              <div class="mb-1">
                <label for="name" class="form-label"> <b> First Name</b></label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter your name" required>
              </div>

              <div class="mb-1">
                <label for="name" class="form-label"><b>Last Name</b></label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter your last name" required>
              </div>

                  <div class="mb-1">
                <label for="email" class="form-label"><b>Email address</b></label>
                <input type="email" class="form-control" id="email"  name="email" placeholder="name@example.com" required>
              </div>
                  <div class="mb-1">
                <label for="username" class="form-label"><b>Username</b></label>
                <input type="text " class="form-control" id="username"  name="username" placeholder="username" required>
              </div>
                  <div class="mb-1">
                <label for="password" class="form-label"><b>Password</b></label>
                <input type="password" class="form-control" id="pass1"  name="pass1" placeholder="Password" required>
              </div>
                  <div >
                <label for="password" class="form-label"><b>Confirm password</b></label>
                <input type="password" class="form-control" id="pass2"  name="pass2" placeholder="Confirm Password" required>
              </div>
        </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Sign Up</button>
      </div>
    </div>
  </div>
        </form>
</div>
<!-- Modal for login -->
<div class="modal fade" id="login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="login">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <form method="post" action="/login">
            {% csrf_token %}
            
                <div class="mb-1">
              <label for="username" class="form-label"><b>Username</b></label>
              <input type="text" class="form-control" id="loginusername"  name="loginusername" placeholder="username" required>
            </div>
                <div class="mb-1">
              <label for="password" class="form-label"><b>Password</b></label>
              <input type="password" class="form-control" id="loginpassword"  name="loginpassword" placeholder="Password" required>
            </div>
      </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
          </form>

</div>







    {% block body %}{% endblock body %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>