{% extends 'base.html' %}
{% block title %}Trolly | Home{% endblock title %}
{%block style %}
<link rel="stylesheet" href="../static/index.css">

{% endblock style %} {% block body %}

<header>
  <div class="container css">
    <h1>Welcome to <span> TROLLY</span>.</h1>
    <h2>Your only solution of finding best products recommendations.</h2>
    <small><span>Go ahead and find your favourite product in search bar above, we aim to
        show you recommended poducts.</span></small>
  </div>
</header>
<main>
  <div class="container main">
    <h3>Your previous search results:</h3>
    <div class="album py-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in search %}

        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
            role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
            <!-- <rect width="100%" height="100%" fill="#55595c" /> -->
            <image xlink:href="{{product.product.image}}" width="100%" height="100%" />
          </svg>

          <div class="card-body">
            <p class="card-text"><b>{{product}}</b></p>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>

  <div class="container main">
    <h3>Products you may like:</h3>
    <div class="album py-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in famous %}

        <div class="card ">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
            role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
            <!-- <rect width="100%" height="100%" fill="#55595c" /> -->
            <image xlink:href="{{product.image}}" width="100%" height="100%" />
          </svg>

          <div class="card-body">
            <p class="card-text"><b>{{product}}</b></p>
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="footer">
    <p>
      This is a project developed to demonstrate our knowledge about machine
      learning.
    </p>
    <p>All rights reserved Jaypee University, Anoopshahr &copy 2021</p>
    <p class="link">
      <a href="https://github.com/rajat-rg/product-recommendation-engine" target="blank">Find the source code of this
        website by clicking HERE</a>.
    </p>
  </div>
</footer>

{% endblock body %}